<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/adduser" method="post">
   <input type="text"  name="FirstName" placeholder="enter First name">
   <br>
   <input type="text" name="SecondName" placeholder="enter Second name">
   <br>
   <input type="email" name="Email" placeholder="enter Email name">
   <br>
   <input type="password" name="Password" placeholder="enter password name">
   <br>

   <button type="submit">Signup</button>
    </form>
    
</body>
</html>